# Base de données PostgreSQL

DB_HOST=localhost
DB_PORT=5432  
DB_NAME=minilib
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe_ici

# Configuration de l'application
JWT_SECRET=votre_secret_jwt_ici
FRONT_URL=http://localhost:3000
BACKEND_URL=http://localhost:8080